# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

cache/
conf/ctp.ini
draft.h
TStrategy.* 
Strategy/
core
CTPMdHandler
CTPTraderHandler
draft
instruments.recordio
instruments.txt
main
QTStrategyBase
TickToKlineHelper
